<template>
    <span
        :style="style"
        class="block">{{ number }}</span>
</template>

<script>
  export default {
		name: 'Block',
		props: {
            number: Number
		},
        computed: {
			style () {
				if (this.number) {
                  const color = ((+(this.number).toString(2).length - 2) * 30) % 360
                  return `background: hsl(${color}, 100%, 85%);border-color: hsl(${color}, 100%, 55%);`
                } else {
                  return 'background: hsl(0%, 0%, 95%);border-color: hsl(0%, 0%, 75%);'
				}
            }
        }
	}
</script>

<style scoped>
    .block {
        border: 2px solid darkslategrey;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        height: 1.5em;
        line-height: 2em;
        padding: 1em 0;
        text-align: center;
        user-select: none;
    }
</style>
