<template>
  <div class="game">
      <span
          class="reset"
          @click="reset">Reset board</span>
      <div
          :style="`grid-template-columns: repeat(${this.rows}, 5em);`"
          class="board">
          <BlockItem
                  v-for="(number, index) in items"
                  :number="number"
                  :key="'' + number + index"
                  class="block"/>
      </div>
  </div>
</template>

<script>
import Block from './Block.vue'

const TIMEOUT = 55

export default {
  name: 'Game',
  components: {
    BlockItem: Block
  },
  data () {
    return {
      gameIsOver: false,
      items: [],
      rows: 4
    }
  },
  created () {
  	this.reset()
    const that = this
    let inProcess = false
    document.addEventListener('keypress', function (event) {
      if (!inProcess && !that.gameIsOver) {
      	inProcess = true
        switch (event.key) {
          case 'ArrowLeft':
              that.fillTable(that.rowsToItems(that.moveLeft()))
              break
          case 'ArrowRight':
              that.fillTable(that.rowsToItems(that.moveRight(), false))
              break
          case 'ArrowDown':
              that.fillTable(that.columnsToItems(that.moveBottom(), false))
              break
          case 'ArrowUp':
              that.fillTable(that.columnsToItems(that.moveTop()))
              break
        }
        if (['ArrowLeft', 'ArrowRight', 'ArrowDown', 'ArrowUp'].includes(event.key)) {
          setTimeout(() => {
          	if (!that.addItem()) {
          	  that.gameOver()
            }
            inProcess = false
          }, TIMEOUT)
        }
      }
    })
  },
  methods: {
    addItem () {
      let emptyCellCounter = 0
      const emptyCells = this.items.map(item => item === null ? emptyCellCounter++ : null)
      if (!emptyCellCounter) {
//      	console.log('false')
        return false
      }
      const emptyItem = +(new Date()) % emptyCellCounter
      const newIndex = emptyCells.findIndex(item => item === emptyItem)
      this.items[newIndex] = this.generateItem()
      this.items = this.items.slice()
//      console.log('true', newIndex, this.items[newIndex])
      return true
    },
    columnsToItems (columns, toTop = true) {
      if (columns.length !== this.rows) {
        throw new Error (`columnsToItems: expected to get array with ${this.rows} items. Received ${columns.length} items array`)
      }
      const items = new Array(this.rows * this.rows)
      items.fill(null)
      for (let j = 0; j < columns.length; j++) {
        if (toTop) {
          for (let i = 0; i < columns[j].length; i++) {
            items[i * this.rows + j] = columns[j][i]
          }
        } else {
          const currentRowLength = columns[j].length
          for (let i = 0; i < currentRowLength; i++) {
            const newItemPosition = (this.rows - currentRowLength + i) * this.rows + j
//            console.log('columnsToItems', newItemPosition, columns[j][i])
            items[newItemPosition] = columns[j][i]
          }
        }
      }
//      console.log('columns to items', items)
      return items
    },
    gameOver () {
      this.gameIsOver = true
      this.$emit('game-over')
    },
    rowsToItems (rows, toLeft = true) {
      if (rows.length !== this.rows) {
        throw new Error (`rowsToItems: expected to get array with ${this.rows} items. Received ${rows.length} items array`)
      }
      const items = new Array(this.rows * this.rows)
      items.fill(null)
      for (let i = 0; i < rows.length; i++) {
      	if (toLeft) {
          for (let j = 0; j < rows[i].length; j++) {
            items[i * this.rows + j] = rows[i][j]
          }
        } else {
          const currentRowLength = rows[i].length
          for (let j = 0; j < currentRowLength; j++) {
          	const newItemPosition = (i + 1) * this.rows - currentRowLength + j
            items[newItemPosition] = rows[i][j]
          }
        }
      }
//      console.log('rows to items', items)
      return items
    },
    fillTable (items) {
      this.items = items
    },
    generateItem () {
      return +(new Date()) % 5 ? 2 : 4
    },
    getColumns () {
      const columnNum = this.rows
      let columns = new Array(columnNum)
      columns.fill([])
      for (let i = 0; i < this.items.length; i++) {
      	let columnIndex = i % columnNum
	    columns[columnIndex] = columns[columnIndex].concat(this.items[i])
      }
//      console.log('getColumns', columns.slice())
      return columns
    },
    getRows () {
      const rowsNum = this.rows
      const rows = new Array(rowsNum)
      rows.fill([])
//	  console.log('get rows', this.items, this.items.length, rowsNum, rows.slice())
      for (let i = 0; i < this.items.length; i++) {
        const rowIndex = ~~(i / rowsNum)
//        console.log('get rows', rowIndex, this.items[i], rows[rowIndex].slice())
        rows[rowIndex] = rows[rowIndex].concat(this.items[i])
      }
//    console.log('get rows', rows)
      return rows
    },
    moveLeft () {
      const rows = this.getRows().map(arr => arr.filter(i => !!i))
//      console.log(rows.slice())
      for (let row of rows) {
      	for (let i = 0; i < row.length; i++) {
          if (row[i + 1] && row[i] === row[i + 1]) {
            row[i] *= 2
            delete row[i + 1]
          }
        }
      }
//    console.log(rows.map(arr => arr.filter(i => !!i)))
      return rows.map(arr => arr.filter(i => !!i))
    },
    moveTop () {
      const columns = this.getColumns().map(arr => arr.filter(i => !!i))
//      console.log(columns.slice())
      for (let column of columns) {
        for (let i = 0; i < column.length; i++) {
          if (column[i + 1] && column[i] === column[i + 1]) {
	          column[i] *= 2
            delete column[i+1]
          }
        }
      }
//      console.log(columns.map(arr => arr.filter(i => !!i)))
      return columns.map(arr => arr.filter(i => !!i))
    },
    moveBottom () {
      const columns = this.getColumns().map(arr => arr.filter(i => !!i))
      for (let column of columns) {
        for (let i = column.length - 1; i > -1; i--) {
          if (column[i - 1] && column[i] === column[i - 1]) {
            column[i] *= 2
            delete column[i - 1]
          }
        }
      }
//      console.log('moveBottom', columns.map(arr => arr.filter(i => !!i)))
      return columns.map(arr => arr.filter(i => !!i))
    },
    moveRight () {
      const rows = this.getRows().map(arr => arr.filter(i => !!i))
    //    console.log(rows.slice())
      for (let row of rows) {
        for (let i = row.length - 1; i > -1; i--) {
          if (row[i - 1] && row[i] === row[i - 1]) {
            row[i] *= 2
            delete row[i - 1]
          }
        }
      }
//      console.log('moveRight', rows.map(arr => arr.filter(i => !!i)))
      return rows.map(arr => arr.filter(i => !!i))
    },
    reset () {
      this.items = new Array(this.rows * this.rows)
      this.items.fill(null)
      this.gameIsOver = false
      this.addItem()
      this.addItem()
    }
  }
}
</script>

<style scoped>
    .board {
        display: grid;
        justify-content: center;
        justify-items: stretch;
        margin-top: 2em;
    }
    .game {
        left: 50%;
        position: relative;
        text-align: right;
        transform: translate(-50%, 0);
        width: 30em;
    }
    .reset {
        border: 1px solid grey;
        border-radius: 5px;
        cursor: pointer;
        padding: .5em;
        user-select: none;
    }
</style>
