<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Game @game-over="modalOn"/>
    <div
      v-if="showModal"
      class="backdrop">&nbsp;</div>
    <div
      v-if="showModal"
      class="modal">
      <div class="modal__header">
        <span
          @click="modalOff"
          class="close">+</span>
      </div>
      <div class="modal__content">
        <h1 class="h1">Game over</h1>
      </div>
    </div>
  </div>
</template>

<script>
import Game from './components/Game.vue'

export default {
  name: 'app',
  components: {
    Game
  },
  data () {
  	return {
      showModal: false,
    }
  },
  methods: {
  	modalOn () {
      this.showModal = true
    },
    modalOff () {
      this.showModal = false
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
  .close {
    cursor: pointer;
    transform: rotate(45deg);
    user-select: none;
  }
  .backdrop {
    background: rgba(255, 255, 255, .5);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .modal {
    background: white;
    border: 1px grey solid;
    border-radius: 5px;
    left: 50%;
    position: fixed;
    top: 30%;
    transform: translate(-50%);
    z-index: 100;
  }
  .h1 {
    margin-top: 0;
  }
  .modal__header {
    font-size: 2em;
    display: flex;
    padding: 0 .5em;
    justify-content: flex-end;
  }
  .modal__content {
    padding: .5em 2em;
    text-align: center;
  }
</style>
